.board {
    position: relative;
    z-index: 0;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    gap: 1rem;
}

.squares {
    display: grid;
    align-items: center;
    justify-content: center;

    background: rgba(93, 132, 189, 0.08);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border: 1px solid rgba( 255, 255, 255, 0.07 );
    border-radius: 10px;

    font-size: 64px;
    font-weight: bold;

    color: black;
    cursor: pointer;
}

.squares.X {
    color: #A5C9FF;
    background: rgba(93, 132, 189, 0.40);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0.0px );
    -webkit-backdrop-filter: blur( 0.0px );
}

.squares.O {
    color: #A3FFBC;
    background-color: #42dd6c;
    background: rgba( 66, 221, 108, 0.40 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0.0px );
    -webkit-backdrop-filter: blur( 0.0px );
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;

    background: rgba(93, 132, 189, 0.08);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border: 1px solid rgba( 255, 255, 255, 0.07 );

}

.footer .draw {
    font-size: 128px;
    color: #fc6cf7b9;
    letter-spacing: normal;
    opacity: 1;
    text-align: center;
}

.footer .winner {
    text-align: center;
    font-size: 48px;
    letter-spacing: normal;
    color: rgb(255, 255, 255);
    opacity: 1;
    margin-bottom: 0;
}

.footer .winner-o {
    margin: 0;
    color: #A3FFBC;
    font-size: 128px;
}

.footer .winner-x {
    margin: 0;
    color: #A5C9FF;
    font-size: 128px;
}

.win-opacity {
    position: relative;
    z-index: 0;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    gap: 1rem;
    opacity: 0.2;
    pointer-events: none;
}

.win-container {
    z-index: 1;
    position: absolute;
}

.footer button {
    width: 200px;
    height: 40px;
    margin-bottom: 40px;
    align-items: center;
    justify-content: center;
    color: #fc6cf7b9;
    background-color: #770a73b9;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    margin-right: 20px;
    cursor: pointer;

    transition: all ease-in-out 0.2s;
}

.footer button:hover {
    background-color: #fc6cf7b9;
    color: #770a73b9;
}

@media (max-width: 600px) {

    .win-opacity {
        position: relative;
        z-index: 0;
        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(3, 80px);
        grid-template-rows: repeat(3, 80px);
        gap: 1rem;
        opacity: 0.2;
        pointer-events: none;
    }

    .board {
        position: relative;
        z-index: 0;
        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(3, 80px);
        grid-template-rows: repeat(3, 80px);
        gap: 1rem;
    }

    .footer .draw {
        font-size: 56px;
        color: #fc6cf7b9;
        letter-spacing: normal;
        opacity: 1;
        text-align: center;
    }
    
    .footer .winner {
        text-align: center;
        font-size: 20px;
        letter-spacing: normal;
        color: rgb(255, 255, 255);
        opacity: 1;
    }
    
    .footer .winner-o {
        margin: 0;
        color: #A3FFBC;
        font-size: 56px;
    }
    
    .footer .winner-x {
        margin: 0;
        color: #A5C9FF;
        font-size: 56px;
    }

    .footer button {
        width: 100px;
        height: 25px;
        margin-bottom: 40px;
        align-items: center;
        justify-content: center;
        color: #fc6cf7b9;
        background-color: #770a73b9;
        border: 0;
        border-radius: 5px;
        font-size: 12px;
        font-weight: bold;
        margin-right: 20px;
        cursor: pointer;
    
        transition: all ease-in-out 0.2s;
    }
}